@using Regate.MVC.SSOT

<div class="content">
    <h2>Value</h2>

    <div class="regate-example-container">
        <div class="regate-example">
            <form method="get">
                <div class="row">
                    <div class="col-lg-10 col-md-9">
                        @{
                            // string x = "5";
                            int? x = null;
                        }
                        @Html.Raw(RegateForeignKey.Build("/RegateForeignKey/GetData", "CategoryId", x))
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="regate-code"><pre><code class="javascript">&#64;Html.Raw(RegateForeignKey.Build("/RegateForeignKey/GetData", "CategoryId", "5"))</code></pre></div>
        <div class="regate-serialize bg-gray-dark text-gray-lighter"></div>
    </div>
</div>