@{ Layout = null; }


<div>@*@ViewBag.FileName*@</div>
<div>@*@ViewBag.Field*@</div>


<script>
    window.opener['RegateFile__setterCallback']('@ViewBag.Field', '@ViewBag.FileName');
    window.close();
</script>