@using Regate
@{
    ViewData["Title"] = "Regate";
}

<h1>Regate</h1>


<form method="get">

    <div>@Html.Raw(Regate.Text("username"))</div>
    <div>@Html.Raw(Regate.Text("username", "mojtaba"))</div>

    <button type="submit">SUBMIT</button>
</form>
