<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Regate</title>

    <link rel="stylesheet" id="css-main" href="~/dashmix/css/dashmix.min.rtl.css">
</head>
<body dir="rtl">

    <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-fixed page-header-dark main-content-narrow">

        @await Html.PartialAsync("_Sidebar")

        <!-- Header -->
        <header id="page-header">
            <!-- Header Content -->
            <div class="content-header">
                <b>@ViewData["Title"]</b>
            </div>
            <!-- END Header Content -->
        </header>
        <!-- END Header -->
        <!-- Main Container -->
        <main id="main-container">

            @RenderBody()

        </main>
        <!-- END Main Container -->
        <!-- Footer -->
        <footer id="page-footer" class="bg-body-light">
            <div class="content py-0">
                <div class="row font-size-sm">
                    <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-right">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a class="font-w600" href="https://goo.gl/vNS3I" target="_blank">pixelcave</a>
                    </div>
                    <div class="col-sm-6 order-sm-1 text-center text-sm-left">
                        <a class="font-w600" href="https://goo.gl/mDBqx1" target="_blank">Dashmix 1.4</a> &copy; <span data-toggle="year-copy">2018</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
    </div>




    <script src="~/dashmix/js/core/jquery.min.js"></script>
    <script src="~/dashmix/js/core/bootstrap.bundle.min.js"></script>
    <script src="~/dashmix/js/core/simplebar.min.js"></script>
    <script src="~/dashmix/js/core/jquery-scrollLock.min.js"></script>
    <script src="~/dashmix/js/core/jquery.appear.min.js"></script>
    <script src="~/dashmix/js/core/js.cookie.min.js"></script>

    <script src="~/dashmix/js/dashmix.app.min.js"></script>


</body>
</html>
